/node_modules/
/handlebars_templates_precompiled/
/webpack_build_output/
/.gradle/
/.vscode/
.idea
/.settings/
.project
VS_Code_Workspace.code-workspace
ant_buildFrontEnd_CopyToTomcat.settings.properties

#  Start committing package-lock.json
# package-lock.json
