*.class

/.gradle/
aa_ant__build_all_proxl_config.properties


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/.idea/
/zz_build_dir
/deploy
/.settings
/WebRoot/WEB-INF/.struts-config.mex
/WebRoot/WEB-INF/classes
/.project
/.classpath
_build
#  MySQL Workbench backup files
*.mwb.bak
/proxl_submit_import/jar_this_project
/proxl_submit_import/.classpath
/proxl_submit_import/.project
/proxl_submit_import/bin
/proxl_submit_import/classes
/proxl_submit_import/deploy
/proxl_web_app/.settings
/proxl_web_app/.classpath
/proxl_web_app/.project
/proxl_base/classes
/proxl_base/bin
/proxl_base/deploy
/proxl_importer/jar_this_project_main_importer
/proxl_importer/bin
/proxl_importer/classes
/proxl_importer/classes_run_importer
/proxl_importer/deploy
/proxl_importer/deploy_run_importer
/proxl_importer/jar_this_project_run_importer
/download_zip_file
/proxl_importer/.project
/proxl_importer/lib_built_proxl_shared_code_jar
/proxl_importer/.classpath
/proxl_web_app/zz_build_dir
/proxl_web_app/zz_classes_shared_code
/proxl_web_app/WebRoot/WEB-INF/classes
/proxl_web_app/resources__Local_Config_Only
/proxl_web_app/jar_this_project_webapp_and_shared_src_code
docs/.project
/proxl_web_app/src_local
