*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


/zz_build_dir
/deploy
/.settings
/WebRoot/WEB-INF/.struts-config.mex
/WebRoot/WEB-INF/classes
/.project
/.classpath
_build
#  MySQL Workbench backup files
*.mwb.bak
/proxl_submit_import/jar_this_project
/proxl_submit_import/.classpath
/proxl_submit_import/.project
/proxl_submit_import/bin
/proxl_submit_import/classes
/proxl_submit_import/deploy
/proxl_web_app/.settings
/proxl_web_app/.classpath
/proxl_web_app/.project
