{{!-- peptidePage_peptide_data_per_search_child_row_template.handlebars in 'peptide_page' 

	Peptide Page Multiple Searches - Per Search Child Data Row 
	
--}}

<tr class="expand-child" style="display:none;">

	<td colspan="{{ colSpan }}" align="center" class=" child_data_container_jq ">
	
		<div style="color: green; font-size: 16px; padding-top: 10px; padding-bottom: 10px;" >
			Loading...
		</div>
	</td>
</tr>
