{{!-- peptidePage_SingleSearch_MainTable_table.handlebars in 'peptide_page' 

	Peptide Page Single Search - Main Table - Table
	
--}}


<table style="" id="peptide_table_js_populate" class="tablesorter  ">

    <thead>

    </thead>

    <tbody>

    </tbody>
    
</table>

