<section id="cite">

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How to Cite Proxl</h2>
                    <div class="lead">
						<p>If you use proxl as part of your research, please cite us using:</p>
						<p><blockquote>Riffle, M et al. (2016) ProXL (Protein Cross-Linking Database): A Platform for Analysis, Visualization, and Sharing of Protein Cross-Linking Mass Spectrometry Data. <i>J. Proteome Res.</i> 15 (8):2863-70.</blockquote></p>
						<p><a class="btn btn-default btn-lg" href="http://www.ncbi.nlm.nih.gov/pubmed/27302480" target="_blank" style="color:#fff0f0;">View in PubMed</a></p>
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/cite-proxl.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

</section>
<!-- /.banner -->


