<section id="proxl-server">

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Proxl Server</h2>
                    <div class="lead">
				        <p>The Proxl Server is a free, publicly-available, and fully functional server where you may upload, analyze, and share your protein cross-linking data.</p>
					</div>
					
		        	<div><p><a href="https://www.yeastrc.org/proxl_public/" class="btn btn-default btn-lg">Use Proxl Server</a></p>


					</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/proxl-login.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

</section>
<!-- /.banner -->


