{{!-- share_data_project_label_project_owner_prj_locked_or_researcher.handlebars

    Share Data Section

    Project Label for Project Owner Project Locked, or Researcher
--}}

<div >
    <div style="margin-top: 20px; margin-bottom: 10px; font-weight: bold;">
        Project URL: {{ currentProjectURL }}
    </div>           
</div>