{{!--  projpg_saved_view_list_item_edit_label.handlebars

    Project Page: Saved View List Item - Edit Label
--}}

<div  class=" selector_saved_view_item_edit_label_container">
    <input type="text" maxlength="500" style="width: 400px;" class=" selector_saved_view_item_edit_label_input ">
    <input type="button" value="Save" class=" selector_saved_view_item_edit_label_save_button">
    <input type="button" value="Cancel" class=" selector_saved_view_item_edit_label_cancel_button">
</div>