{{!-- project_page__ann_cutoff_defaults_project_level_overlay_peptide_list_header_entry.handlebars in 'project_page__ann_cutoff_defaults_project_level'

	Project Page - Set Annotation Defaults at Project Level Overlay Root

    Peptide List Entry
	
--}}
<tr>
    <td colspan="3">
        <div style="margin-left: 10px; font-weight: bold;">
            Peptide filters
        </div>
    </td>
</tr>