{{!-- project_page__ann_cutoff_defaults_project_level_overlay_root.handlebars in 'project_page__ann_cutoff_defaults_project_level'

	Project Page - Set Annotation Defaults at Project Level Overlay Root
	
--}}
<div id="project_page__ann_cutoff_defaults_project_level_overlay_root"
    class=" project-level-ann-cutoff-defaults-modal-dialog-overlay-div overlay-outer-div  "
    style=" width: 600px; top: {{ topPosition }}px;"  >

    <div class="project-level-ann-cutoff-defaults-modal-dialog-overlay-header" style="width:100%; " >
        
        <h1 id="project_page__ann_cutoff_defaults_project_level_x_exit"
             class="project-level-ann-cutoff-defaults-modal-dialog-overlay-X-for-exit-overlay " 
            >X</h1>
        
        <h1 class="project-level-ann-cutoff-defaults-modal-dialog-overlay-header-text" >Set Custom Filters for Project</h1>
    </div>
    <div class="project-level-ann-cutoff-defaults-modal-dialog-overlay-body selector_project_page__ann_cutoff_defaults_project_level_body " 
        style="max-height: {{ mainBodyMaxHeight }}px; overflow-y: auto;">
                 
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <div >
                All data in project will be filtered using these values.
            </div>
            <div >
                Remove all values to disable project-level filtering.
            </div>
        </div>
      <table border="0" id="project_page__ann_cutoff_defaults_project_level_main_table" class=" main-cutoffs-table " >
        <tbody >
        </tbody>            
      </table>

        <div style="margin-top: 10px;">
            <input type="button" value="Save" 
                id="project_page__ann_cutoff_defaults_project_level_save_button">&nbsp;
            
            <input type="button" value="Cancel" 
                id="project_page__ann_cutoff_defaults_project_level_cancel_button">
        </div>
    </div>

</div>
