{{!-- project_page__ann_cutoff_defaults_project_level_overlay_background.handlebars in 'project_page__ann_cutoff_defaults_project_level'

	Project Page - Set Annotation Defaults at Project Level Overlay Background
	
--}}
<div id="project_page__ann_cutoff_defaults_project_level_overlay_background"
     class="project-level-ann-cutoff-defaults-modal-dialog-overlay-background" >
</div>