{{!-- mergedPages_data_per_search_between_searches_html.handlebars in 'merged_pages_shared'

	Merged Pages Multiple Searches - Listing Per search entries, placed between the searches.

    In Page template was stored with id 'data_per_search_between_searches_html'
	
--}}
<div class=" data-per-search-between-searches " ></div>