{{!-- protein_Looplink_SingleSearch_PageData_MainTable_table.handlebars in 'protein_page' 

	Protein Looplink Page Single Search - Main Table - Table
	
--}}


<table style="" id="protein_table_js_populate" class="tablesorter  ">

    <thead>

    </thead>

    <tbody>

    </tbody>
    
</table>

