{{!-- protein_Looplink_SingleSearch_PageData_MainTable_child_table_container_row.handlebars in 'protein_page' 

	Protein Looplink Page Single Search - Main Table - Child Table Container  Row
	
--}}


<tr class="expand-child" style="display:none;">
    
    {{!-- columnsPeptideTable is number of columns in current table --}}
    <td colspan="{{ tableColumnCount }}" align="center" class=" child_data_container_jq ">
        
        <div style="color: green; font-size: 16px; padding-top: 10px; padding-bottom: 10px;" >
            Loading...
        </div>
    </td>
</tr>

