{{!--  save_view__on_main_page_root.handlebars

    Placed on a page to provide an option to save a view

    NOT CURRENTLY USED
--}}

<div class=" save-view-container ">
    <input type="button" value="Save View" 
        class=" selector_save_view_button ">

</div>