<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name />
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

  <!-- REST Webservices by JAX-RS Jersey Servlet -->
    <servlet>
        <servlet-name>JAX-RS REST Jersey Servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            
            <!-- specifies the packages to scan for Classes that have Jersey annotations for webservices -->
            <!-- Adding "jackson.jaxrs" changes the JSON and JAXB XML provider to Jackson -->
            <param-value>com.fasterxml.jackson.jaxrs;org.yeastrc.xlink.www.webservices;org.yeastrc.xlink.www.proxl_xml_file_import.webservices;org.yeastrc.xlink.www.user_account_webservices;org.yeastrc.xlink.www.url_shortner_share_page.webservices</param-value>
        </init-param>  
        
        <load-on-startup>1</load-on-startup>
    </servlet>
  
  <servlet-mapping>
  	<servlet-name>JAX-RS REST Jersey Servlet</servlet-name>
  	<url-pattern>/services/*</url-pattern>
  </servlet-mapping>


	<!-- This Servlet should be considered a webservice as it returns JSON -->
  <servlet>
    <servlet-name>File_Upload_For_Import_Servlet</servlet-name>
    <servlet-class>org.yeastrc.xlink.www.proxl_xml_file_import.servlets_as_webservices.UploadFileForImportServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>File_Upload_For_Import_Servlet</servlet-name>
    <url-pattern>/uploadFileForImport</url-pattern>
  </servlet-mapping>

	<!--  Servlet for handling shortened URLs, redirects to full URL  -->

  <servlet>
    <servlet-name>Shortened_URL_Servlet</servlet-name>
    <servlet-class>org.yeastrc.xlink.www.url_shortner_share_page.url_handler_servlet.SharePageURLHandlerServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Shortened_URL_Servlet</servlet-name>
    <url-pattern>/go</url-pattern>
  </servlet-mapping>

  <!-- Filters - run on each request -->
   

    <!-- filter to set character encoding on each request -->
    
    <filter>
        <filter-name>Set Character Encoding</filter-name>
        <filter-class>org.apache.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>Set Character Encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


	<!-- This filter will be the Second called for a request and does initial setup -->
    <filter>
	  <filter-name>InitialServletFilter</filter-name>
	  <filter-class>org.yeastrc.xlink.www.servlet_filter.InitialServletFilter</filter-class>
    </filter>

	<filter-mapping>
	  <filter-name>InitialServletFilter</filter-name>
	  <url-pattern>/*</url-pattern> 
	</filter-mapping>	

 



	<!-- Servlet Context Listeners.  Called on Web app startup and shutdown -->
	<listener>
		<listener-class>
		org.yeastrc.xlink.www.servlet_context.ServletContextAppListener
		</listener-class>
	</listener>
	
	<!-- ERROR pages -->
	
    <error-page>
	    <!-- Uncaught exception -->
	    <error-code>500</error-code>
	    <location>/WEB-INF/jsp-pages/generalError.jsp</location>
	</error-page>
	<error-page>
	    <!-- Unsupported servlet method -->
	    <error-code>503</error-code>
	    <location>/WEB-INF/jsp-pages/generalError.jsp</location>
	</error-page>
  

</web-app>

